@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    box-sizing: border-box;
    transition: all ease 0.3s;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;

}

body {
    background-color: #0f0f0fff;
}

.sticky {
    background-color: #0f0f0fff;
    color: #F0F5F9;
    width: 115%;
    padding-top: 2%;
    height: 105%;
    border-radius: 25px;
    text-align: right;
}

.navbar {
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 10%;
    color: #F0F5F9;
    transition: 0.4s ease;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1% 3%;
    width: 80%;
    margin: 0 auto;
}

nav ul {
    position: inherit;
    background: none;
    width: auto;
    height: auto;
    display: flex;
    padding-top: 0;
    margin-bottom: 0;
}

nav ul a li {
    display: block;
    width: 100%;
    padding: 1vh 1.4vh;
}

li,
a {
    font-weight: 50vh;
    font-size: 2vh;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

nav ul a {
    float: left;
    margin: 1% 1.4%;
}

nav ul a li:hover {
    background-color: #e6ffff;
    color: black;
    transition: 0.4s ease-in-out;
    border-radius: 25px;
}


.logo {
    cursor: pointer;
    margin-right: auto;
    width: 7.5%;
    height: 3.5%;
}

.demo-wrap {
    position: relative;
}

.demo-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.demo-content {
    position: relative;
}


/* .page{
    background-image: url("images/Stock\ Market\ Animation.gif");
        background-repeat:no-repeat;
        background-size: cover;
        height:93vh
} */

.topic {
    padding-top: 5%;
    padding-left: 6.25%;
    text-align: left;

}

.topic h1 {
    padding-top: 10%;
    font-size: calc(3vw + 3vh);
    color: rgb(9, 165, 157);
    text-shadow: 4px 4px 8px #000000;
    font-weight: 600;
}

.topic p {
    padding-top: 2%;
    font-size: calc(1vw + 1vh);
    font-weight: 600;
    text-align: left;
    color: white;
    line-height: 1.5;
    text-shadow: 4px 4px 8px #000000;

}

.panel-1 {
    background-color:  #d7e0e0;
    border-radius: 25px;
    min-width: 60%;

    /* display: flex; */
    z-index: 1;
    display: inline-block;
    justify-content: space-around;
    margin-top: 10vw;
    margin-left: 1vw;
}

.features {
    padding: 8vh 3vw;
    display: flex;
    padding: 3.5%;
    justify-content:space-around;
    width: 100%;
}

.card-body {
    color: #0f0f0f;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card-body h5{
  font-size: calc(1vw + 0.8vh);
  color: #f0f5f9;
}


.card-body p {
    font-size: calc(0.5vw + 0.8vh);
    color: #f0f5f9;
    text-align: center;
}

.card {
    transition: width ease 0.3s;
    border-radius: 1vw;
    background-color: #2f2f2f;

    margin:0 1.5%;
}

/* .card-1 .card-2 .card-3 {
    margin:vh;
} */

.card img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

/* .card:hover p{
    display:inline;
    transition: 0.3s ease;
  } */

.card:after {
    content: "";
    width: 0;
    height: 1vh;
    cursor: pointer;

    background-color: #bbbb;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;

}

.card:hover::after {
    content: "";
    width: 100.5%;
    height: 1vh;
    cursor: pointer;
    background-color: #bbb;
    position: absolute;
    bottom: -1px;
    left: -1px;
    transition: width ease 0.5s;
}

.bg2 {
    background-image: url("images/cyber.png");
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.background-class{
    background-color: #2f2f2f;
    border-radius: 25px;
    padding-top: 0;
    display:flex;
    justify-content: right;
}

.panel-2 {
    background-color: #2f2f2f;
    border-radius: 25px;
    width: 60%;
    padding:2%;
    display: flex;
    z-index: 1;
    display: inline-block;
    position: absolute;
    margin-top: 5%;
    margin-left: 40%;

}

.panel-2 h1 {
    text-align: left;
    font-size: calc(1.7vw + 1.7vh);
    padding: 2.5vw 4vw 0 1vw;
    color: rgb(185, 190, 190);
    font-weight: 600;
}

.panel-2 p {
    text-align: left;
    color: rgb(171, 177, 176);
    padding: 1vw 4vw 1vw 1vw;
    font-size: calc(0.8vw + 0.8vh);
    font-weight: 15px;
}



.form-signin {
    width: 100%;
    max-width: 50%;
    padding: 5%;
    margin: auto;
    text-align: center;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-control {
    border-radius: 0;
}

.top {
    margin-bottom: -1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.bottom {
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.input-form {
    padding: 2vh 0;
}

.form-signin button {
    width: 50%;
    background-color: #0f0f0f;
    color: #f0f5f9;
    border:none;
}

.form-signin button:hover {
    background-color: #777;
}

form h1{
 color: rgb(9, 165, 157);
}

.fade-in {
    animation: fadeIn 2s;
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.footer {
    width: 100%;
    background-color: #2f2f2f;
    position: relative;
    z-index: 1;
    margin-top: 100vh;
}

.footer-basic {
    padding: 40px 0;
    background-color: #0f0f0f;
    color: #f0f5f9;

}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 1;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #f0f5f9;
    margin-bottom: 0;
}

ul.footer-links {
    margin: 0 auto;
}

ul.footer-links li {
    display: inline-block;
    font-size: .8em;
    color: #f0f5f9;
    padding: 1em 2em;
}

@media only screen and (max-width:960px){

}


@media only screen and (max-width:1664px){

  .panel-2{
    width:80%;
    margin-top:10%;
    margin-left: 20%;

  }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    color: #fefefe;
    background-color: #2f2f2f;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .modal-content p a{
      font-size: calc(0.6vh + 0.6vw);
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }




@media only screen and (max-width:1116px){

  .form-signin{
    max-width: 100%;
  }
  .form-signin button{
    width:70%;
  }
}


@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .card{
      margin:1.5% 0;
    }

    .card-body{
      display:block;
    }
    .card-body p {
        font-size: 10px;
        color: #f7f7f7;
        text-align: left;
    }

    .card-title{
        font-size: 15px;
    }


    .features {
        /* justify-content:space-around; */
        display: inline-block;
        width: 100%;

    }



}
